<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- define a repository bean -->
	<bean id="productRepository"
		class="io.pivotal.workshop.repository.InMemoryProductRepositoryImpl" />

	<!-- define a service bean -->
	<bean class="io.pivotal.workshop.service.ProductServiceImpl" id="productService">
		<property name="productRepository" ref="productRepository"/>
	</bean>
</beans>
